:root {
  --my-orange: #f57b18;
  --my-yellow: #ffc107;
  --my-turquoise: #00d6c3;
  --my-blue: #A7C1EB;
  --my-gray: #dce4f7;
  --my-pink: rgba(248,100,129,1);
}
body {
  background-image: url(../images/backgroung2.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.btn {
  background: rgb(248, 186, 92) 0%;
  box-shadow: 0.5rem 0.5rem 1.8rem var(--my-blue);
  color: white;
  font-weight: 700;
}

.logo-item {
  width: 14.5rem;
  padding: 1rem 0 0rem;
  margin: 0;
}

/* Navbar header */

#nav-header a {
  font-weight: 600;
}

/* Bannière de présentation */

.banner {
  padding: 0 6.5rem 2rem; 
}
.banner h1 {
  font-weight: 400;
  text-shadow: 1px 1px grey;
  font-size: 2.5rem;
  padding-top: 1rem;
}
.banner p {
  text-align: justify;
  padding: 1rem 0 0.3rem;
  font-size: 1.1rem;
}

.btn-left {
    margin: 0 1rem;
}

.banner img {
  border-radius: 50%;
  box-shadow: 1rem 1rem 0.2rem #ebebeb;
}

/* les dernières citations */

blockquote {
  text-align: center;
  font-size: 90%;
  padding: 0 4% 0;
}

.last-quotes-header {
  text-align: center;
  margin: 0.5rem 0rem 1.5rem;
  padding-top: 0.5rem;
}

.last-quotes-header h2 {
  border-bottom: solid;
  margin: 0.5rem 20% 1.5rem;
  padding: 1rem;
}

 /* CARD CITATION */

.card-body--perso {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2% 2% 1%;
  margin: 0 15%;
  box-shadow: 15px 15px 15px var(--my-blue);
  border: 1px solid rgba(211, 211, 211, 0.207);
  border-radius: 1rem;
}

.card-blockquote-img {
  width: 3.5rem;
  margin-bottom: 3%;
}

.card-footer {
  background-color: unset;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
  width: 16.5rem;
}

.card-footer-member {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.card-footer-member p{
  margin: 0;
}

.card-footer-avatar {
  width: 3rem;
  height: 3rem;
  margin: 0 0.3rem;
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-link {
  display: flex;
  text-decoration: none;
  color: initial;
  align-items: center;
}

.card-tag {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-tag p{
  font-size: 0.65rem;
  margin: 0;
  background-color: rgba(92, 197, 205, 0.213);
  border-radius: 2rem;
  padding: 0 0.3rem;
}

#card-footer--single {
  width: 85%;
  justify-content: space-between;
}

#card-footer--single .card-footer-member p{
  font-size: 1rem;
}

#card-footer--single .card-tag p{
  font-size: 0.8rem;
}

/* PAGE PROFILE */


.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-avatar {
  margin-top: 1rem;
  width: 10rem;
  height: 10rem;
  border-radius: 4rem;
  border: 0.5rem solid var(--my-blue);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
/*   box-shadow: 1rem -0.5rem rgba(245, 138, 67, 0.548);
 */}

.profile-pseudo {
  padding-top: 1.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: playfair display;
}

.profile-description {
  padding: 1rem 2rem;
  text-align: center;
  font-family: playfair display;
  font-size: 1.3rem;
}

.card-footer i{
  font-size: 1.2rem;
}


/* PAGE INSCRIPTION */


.signup-wrapper1 img{
  border-radius: 40%;
  padding-top: 4rem;
}

.signup-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* PAGE CONNEXION */

.login-img img {
  border-radius: 30%;
  padding-top: 2rem;
  width: 25rem;
}


/* PAGE CATEGORIES*/

.categories-list .row{
  display: flex;
  justify-content: center;
}

.card-category {
  text-decoration: none;
  color: black;
}

.card-category img{
  height: 13rem;
}

.card-category h5{
  text-align: center;
}


/* PAGE CITATION */


  /* 1) Citation */

.single-quote blockquote p{
  font-size: 1.1rem;
  }

.single-quote .card-footer p{
  font-size: 1rem;
}


  /* 2) Form ajout commentaire */

.add-comment-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.add-comment-avatar {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 2rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.add-comment-section button {
  font-size: 0.9rem;
}
  /* 3) commentaires */

.comments-block{
  /* background-color: white;
  border: 0.1rem solid rgba(192, 192, 192, 0.583);
  border-radius: 1rem; */
  display: flex;
  padding: 1rem;
  flex-direction: column;
  background-color: white;
  background-clip: border-box;
  border: 1px solid #d2d2dc;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
  -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
  box-shadow: 0px 0px 5px 0px rgb(161, 163, 164)
}


 .comment-user-avatar img {
   border-radius: 0.3rem;
   width: 4rem;
   margin-right: 0.7rem;
 }

 .comment-row:hover {
  background: rgba(0, 0, 0, 0.02);
  
}

.comment-widgets .comment-row {
  border-bottom: 1px solid rgba(120, 130, 140, 0.13);
  padding: 15px
}

.action-icons a {
  padding-left: 7px;
  vertical-align: middle;
  color: #3ea8ce;
  text-decoration: none;
}

.action-icons a:hover {
  color: #d2b619
}



/* BACK OFFICE */

  /* 1) navbar Back */

#navbar-back{
  height: 100vh;
  position: fixed;  
  align-items: flex-start;
  font-size: 0.9rem;
  font-weight: 500;
  
}

#navbar-back ul {
padding-top: 5rem;
}

#navbar-back .nav-item{
  padding-bottom: 1rem;
}

  /* 2) Main Back */

#main-back{
  margin-left: 10.3rem;
  width: 85vw;
}

  /* 3) Tableau Back */

th {
  text-align: center;
  font-size: 0.9rem;
}

td {
  font-size: 0.8rem;
}

#table-avatar{
  width: 3rem;
  border-radius: 50%;
}

#table-picture-category{
  width: 6rem;
  
}

#main-back td:first-child {
  padding-left: 1rem;
  display: flex;
}

#main-back tbody{
  color:rgba(0, 0, 0, 0.816);
}

