{% extends 'base.html.twig' %}
{% block title %}Modifier la citation
{% endblock %}
{% block main %}


	<div class="container">
		<div class="row">
			<h1>Modifier la citation</h1>
			{{form_start(form)}}
			{{form_widget(form)}}
			<button class='btn btn-success'>Valider</button>
			{{form_end(form)}}
		</div>
	</div>

{% endblock %}
