{% extends "admin/base.html.twig" %}
{% block title %}Back office de MindSet&Go{% endblock %}

{% block main %}

<h1>Bienvenue sur l'interface d'administration</h1>

<div><span></span> Membres</div>
<div>Citations</div>
<div>Commentaires</div>
<div>Articles</div>




{% endblock %}